@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Resets*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1.125rem;
}
:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Darkcyan);
    background-image: url(/images/bg-pattern-top.svg);
    background-repeat: none;
    
}

section {
    display: flex;
    justify-content: space-between;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
}

.header {
    background-image: url(/images/bg-pattern-card.svg);
}

.header .img {
    border: 5px solid white;
    border-radius: 50%;
}

span {
    color: var(--Darkgray);
    font-size: ;
}